*{
    margin:0;
    padding :0;
}

body{
    background-color: #191919;
}
.img-logo{
    height:70px;
    width: 150px;
}
nav{
    padding-left: 1.7rem;
    padding-top : 1rem;
    display: flex;
    align-items: center;
}
.nav-wrapper{
    display: flex;
    width :1150px;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.2rem ;
}
nav ul li{
    list-style: none;
    color: white;
    padding-right: 1rem;
}
.triangle{
    font-size: 20px;
}
.sep{
    font-size: 30px;
}
nav ul li a{
    color :white;
    font-size: 22px;
    padding-right:1rem;
    text-decoration: none;
}
.btn{
    height:60px;
    width:150px;
    border-radius: 1rem;
    background-color: #191919;
    border-color: #2c9ce3;
    border-width: 3px;
    font-size: 22px;
    text-decoration: none;
    color: #2c9ce3;
}
.btn:hover{
    border-color: white;
}