.mech-sec1{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../asset/mechanicsbg.jpg');
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mech-sec1-wrapper{
    text-align: center;
    padding-bottom: 1rem;
}

.mech-sec1-txt{
    font-size: 40px;
    font-family: 'Copperplate Gothic Bold' ,'Times New Roman', serif;
    color:white;
}

.mech-sec1-desc{
    font-size: 22px;
    font-family: 'Footlight MT Light','Times New Roman',serif;
    font-weight: 200;
    color: #cfcaca;
    padding-bottom: 1.5rem;
}

.mech-btn-group{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.mech-btn-group button{
    background-color: transparent;
    border-color: white;
    border-radius: 0.5rem;
    color: white;
    font-size: 18px;
    font-family: 'Footlight MT Light', 'Times New Roman', serif;
    height: 50px;
    width: 130px;
    border-width: 2px;
    cursor: pointer;
}

.mech-btn-group button:hover{
    color: rgb(227, 231, 19);
    border-color: rgb(227, 231, 19);
}

.mech-content, .mech-sec2 {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
}

.mech-content p, .mech-sec2 p{
    text-align: justify;
    width: 65%;
    color: #cfcaca;
    font-size: 22px;
    font-family: 'Footlight MT Light','Times New Roman',serif;
    padding-bottom: 1rem;
}

.mech-content-title{
    width:65%;
    font-size: 36px;
    color: white;
    font-family: 'Copperplate Gothic Bold' ,'Times New Roman', serif;
    padding-bottom: 3rem;;
}

.mech-content img{
    width: 50%;
    padding-bottom: 2rem;
}