@font-face {
    font-family: 'Footlight MT Light';
    src: url('../asset/FTLTLT.TTF');
}
@font-face{
    font-family: 'Copperplate Gothic Bold';
    src : url('../asset/COPRGTB.TTF');
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #191919;
    font-family: 'Footlight MT Light', 'Times New Roman', serif;
    color: white;
}

.body-wrapper {
    margin: auto;
    max-width: 1350px;
}

.img-logo {
    height: 70px;
    width: 150px;
}

header {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

nav {
    padding-top : 1rem;
    display: flex;
    align-items: center;
    padding-bottom : 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.2rem;
}

.menu-item {
    list-style: none;
    color: white;
    padding-right: 1rem;
}

.menu-item a {
    color :white;
    font-size: 22px;
    text-decoration: none;
}

.menu-item a:hover {
    color: #2c9ce3;
}

.submenu {
    display: none;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 5px 10px;
    width: 150px;
    left: 297px;
}

.menu-dropdown a:hover {
    color: white;
}

.menu-dropdown:hover .submenu {
    display: block;
}

.submenu-item {
    list-style: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px 0;
}

.submenu-item a {
    color :white;
    font-size: 22px;
    text-decoration: none;
}

.submenu-item a:hover {
    color: #2c9ce3;
}

.triangle {
    font-size: 20px;
}

.sep {
    font-size: 30px;
}

.btn {
    height: 60px;
    width: 150px;
    border-radius: 1rem;
    background-color: #191919;
    border-color: #2c9ce3;
    border-width: 3px;
    font-size: 22px;
    text-decoration: none;
    color: #2c9ce3;
    cursor: pointer;
}

.btn:hover {
    border-color: white;
    color: white;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-txt {
    color: white;
    font-size: 22px;
}

.foot-icon {
    margin: auto;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.icon {
    width: 45px;
    height: 45px;
}

.foot-txt p {
    text-align: center;
}
